!!!5
html
  head
    title #{title} - Mi sitio
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 MY SITIO SIiiiiiIIIII!!!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Chupamela mamón que me estoy corriendo